datasets==3.0.*
flytekit==1.13.*
flytekitplugins-deck-standard==1.13.*
flytekitplugins-kfpytorch==1.13.*
ipykernel==6.29.*
lightning==2.4.*
minio==7.2.*
torch==2.4.*
torchvision==0.19.*
s3torchconnector==1.2.*
scikit-learn==1.5.*
wandb==0.18.*
